/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.lcd-main-container {
	margin: 0 auto;
	padding: 40px;
	max-width: 1200px;
}

.lcd_page_title h1 {
	font-weight: 300;
	margin-bottom: 0px;
	color: #f71568;
}

#lkpr-admin-body .lcd-main-container {
	font-family: 'Raleway', arial, helvetica !important;
}

.lcd_logo {
	width: 200px;
	margin-bottom: 25px;
}

.dashboard-menu {
	height: auto;
	font-family: "Raleway", 'arial';
	font-size: 1.8em;
	color: #fff;
	margin-top: 40px;
}

.dashboard-menu ul li:first-child {
	border-bottom: solid 5px #38449a;
}

.dashboard-menu ul li:nth-child(2) {
	border-bottom: solid 5px #38449a;
}

.dashboard-menu ul li:nth-child(3) {
	border-bottom: solid 5px #38449a;
}

.dashboard-menu ul li:nth-child(4) {
	border-bottom: solid 5px #38449a;
}

.dashboard-menu ul li:nth-child(5) {
	border-bottom: solid 5px #38449a;
}

.dashboard-menu li {
	width: 200px;
	display: inline-block;
	height: 130px;
	background: #fff;
	border-radius: 3px;
	text-align: center;
}

.dashboard-menu li a {
	text-decoration: none;
	color: #f71568;
}

.dashboard-menu i {
	display: block;
	line-height: 2.2em;
	color: #737373;
	font-size: 40px;
}

.lcd_logo a {
	padding: 12px 0px 0px 0px;
}

.lcd_logo img {
	width: 100%;
	height: auto;
}

.lcd_page_title {
	font-family: 'Raleway', arial, helvetica !important;
	/*text-transform: uppercase;*/
}

.lcd_page_title p {
	/*font-family: 'Open Sans', arial, helvetica;*/
	text-transform: none;
}

.lcd-mt-10 {
	margin-top: 10px;
}

.lcd-main-container a {
	text-decoration: none;
}

.lcd-mt-20 {
	margin-top: 20px;
}

.lcd-form {
	width: 90%;
	/*font-family: 'Open Sans', arial, helvetica !important;*/
}

.lcd-form .form-label fieldset {
	position: relative;
	margin-bottom: 3px;
}

.lcd-form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.lcd-form .form-label fieldset:first-child input {
	border-radius: 4px 4px 0 0;
}

.lcd-form input {
	display: block;
	width: 100%;
	height: 3em;
	padding: 16px 8px;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	background: rgba(255, 255, 255, 0.97);
	color: #f71568;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/* margin-bottom: 5px; */
	border-radius: 3px;
}

.lcd-form .form-label label {
	position: absolute;
	top: 15px;
	left: 8px;
	color: #2c2c2c;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.lcd-button.lcd-button-block {
	width: 100%;
}

.lcd-button.lcd-button-small {
	padding: 10px 20px 12px 20px;
	font-size: 12px;
}

.lcd-button {
	align-self: center;
	padding: 20px 30px 18px 30px;
	color: white;
	font-family: 'Open Sans', arial;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: #2ca8ff !important;
	border-radius: 3px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	display: inline-block;
	border: 0;
}

.lcd-form .form-css-label input[data-empty="false"]+label,
.form-css-label input:valid+label,
.form-css-label input:focus+label {
	color: #f71568;
}

.lcd-form input {
	color: #2c2c2c;
}

.start_message {
	padding: 20px;
	border-radius: 2px;
	padding-left: 0px;
}

.back-btn {
	margin-bottom: 30px;
	margin-left: 0px;
}

.back-btn a {
	color: #f71568;
}